.popup__text {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    margin: 32px auto 40px auto;
    max-width: 358px;
    text-align: center;
}

@media screen and (max-width: 670px) {
    .popup__text {
        margin: 40px auto 30px auto;
        font-size: 20px;
        max-width: 244px;
    }
}