.profile__name {
  color: #fff;
  font-size: 42px;
  line-height: normal;
  font-weight: 500;
  margin: 0;
  grid-column: 1;
  grid-row: 1;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  justify-self: start;
}

@media screen and (max-width: 1000px) {
  .profile__name {
    font-size: 4.2vw;
  }
}

@media screen and (max-width: 670px) {
  .profile__name {
    font-size: 27px;
    max-width: 240px;
    justify-self: end;
  }
}