.popup__title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    margin: 0px 0px 54px 0px;
}

@media screen and (max-width: 670px) {
    .popup__title {
        margin: 0px 0px 75px 0px;
        font-size: 18px;
        min-width: 238px;
    }
}