.popup__button-save {
  color: #fff;
  background-color: #000;
  border: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  margin-top: 18px;
  padding: 0;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 1s;
}

@media screen and (max-width: 670px) {
  .popup__button-save {
    margin-top: 15px;
    max-width: 47vw;
    font-size: 14px;
    height: 46px;
  }
}

@media screen and (max-width: 510px) {
  .popup__button-save {
    max-width: 238px;
  }
}

.popup__button-save:hover {
  opacity: 80%;
  transition: opacity 1s;
}