.register__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 670px) {
    .register__form  {
        margin-top: 10px;
    }
  }