.profile {
  max-width: 880px;
  margin: auto;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .profile {
    max-width: 90%;
  }
}

@media screen and (max-width: 670px) {
  .profile {
    flex-direction: column;
    padding-top: 38.25px;
    margin: 0px auto 0px auto;
  }
}

@media screen and (max-width: 340px) {
  .profile {
    max-width: 282px;
  }
}