.login {
  max-width: 880px;
  margin: auto;
  padding-top: 60px;
}

@media screen and (max-width: 1000px) {
  .login {
    max-width: 90%;
  }
}

@media screen and (max-width: 670px) {
  .login {
    padding-top: 40px;
  }
}

@media screen and (max-width: 340px) {
  .login {
    max-width: 282px;
  }
}