.footer__title {
  color: #545454;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 670px){
  .footer__title {
     max-width: 90%;
     font-size: 14px;
  }
 }