.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  width: 358px;
  margin-bottom: 30px;
  padding: 10px 0px 12px 5px;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 670px) {
  .popup__input {
    max-width: 47vw;
  }
}

@media screen and (max-width: 510px) {
  .popup__input {
    max-width: 238px;
  }
}